# Homework 3 - Phys 434
## Andrew Spicciati
## 10/19/21

In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import scipy
from scipy import stats

import pandas as pd

# Problem 1

### 1a) Which algorithm makes the fewest mistakes?

The first algorithm make fewer mistakes. It only made 8 miscategorizations out of 100 trials, compared to 12 miscategorizations made by the second algorithm in 100 trials.

### 1b) Which algorithm is better for the zoo? Explain.

The second algorithm is better for the zoo. Even though it made more miscategorizations, it made less miscategorizations of birds. Since what the zoo really values is categorizing birds correctly, this is better for the zoo.

### 1c) During the pandemic the number of visitors plummets, and it is only the zoo keeper visiting. So instead of 52% of the photos taken at the aviary door being people, it is now only 1%. Make new truth tables for both algorithms.

In [2]:
num_humans = 1
num_bird = 99

#algorithm 1
p_bird = 45/48
p_human = 47/52

birds_true = np.round(p_bird * num_bird)
birds_false = 99 - birds_true

humans_true = np.round(p_human * num_humans)
humans_false = 1 - humans_true

data1 = [['NN Bird',birds_true,humans_false],['NN Human',birds_false,humans_true]]

#algorithm 2
p_bird2 = 47/48
p_human2 = 42/53

birds_true2 = np.round(p_bird2 * num_bird)
birds_false2 = 99 - birds_true2

humans_true2 = np.round(p_human2*num_humans)
humans_false2 = 1 - humans_true2

data2 = [['NA Bird',birds_true2,humans_false2],['NA Human',birds_false2,humans_true2]]

In [3]:
table = pd.DataFrame(data=data1,columns=['','True Bird','True Person'])
table2 = pd.DataFrame(data=data2,columns=['','True Bird','True Person'])

In [4]:
table

             True Bird  True Person
0   NN Bird       93.0          0.0
1  NN Human        6.0          1.0

In [5]:
table2

             True Bird  True Person
0   NA Bird       97.0          0.0
1  NA Human        2.0          1.0

# Problem 2

### 2a) What is the pdf of the sum of two identical exponential distributions?

From the Wiki for the [Exponential Distribution](https://en.wikipedia.org/wiki/Exponential_distribution#Sum_of_two_independent_exponential_random_variables), the original distribution is given by $P(x) = \lambda e^{-\lambda x}$ where $\lambda$ is a rate parameter. After summing, the distribution becomes $P(x) = \lambda^2 x e^{-\lambda x}$. This is also known as the Erlang distribution, with shape parameter $k=2$, and rate parameter $\lambda = \lambda$.

### 2b) What is the pdf of the ratio of two zero-mean unity variance normal distributions  $\large \frac{\chi_1}{\chi_2}$ ?
From the Wiki the for [Normal Distribution](https://en.wikipedia.org/wiki/Normal_distribution#Operations_on_two_independent_standard_normal_variables), the ratio of two standard normal distributions is given by the Cauchy distribution with mean = 0, and scale parameter $\gamma = 1$

### 2c) So far we have looked at 1D probability distributions, but it is possible to have a multi-dimensional vector distribution. A simple first introduction is the 2D Guassian; it looks like a smeared spot. Mathematically this is given by  Xi^+Yj^  where both  X  and  Y  are drawn from 1D Gaussian distributions. If I measure the amplitude of this vector, what is its pdf? (Hint, the amplitude is always positive.)